/*base.css*/
body,ul,li,ol,p,h3,a,div,section,form,input,textarea{
    margin:0px;
    padding:0px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
    color:black;
}
body{
    font-size:12px;
}
:root{
    --font-white:white;
    --bg-red:#E60012;
    --bgcolor-f5:#f5f5f5;
    --bgcolor-fc:#fcfcfc;
    --border-40:#404040;
    --border-d4:#d4d4d4;
    --border-ea:#eaeaea;
    --border-dd:#ddd;
    --font-red:red;
    --font-666:#666;
    --font-dddadb:#dddadb;
    --font-555:#555;
    --font-333:#333;
}
